h1{
	text-align: center;
}

h2{
	text-align: center;
}

a{
	color: #622;
}

a:hover{
	color: #666;
	cursor: pointer;
}

a:visited{
	color: #622;
}

.formulaire{
	margin: auto 20%;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	font-size: large; 
}

.select{
	padding: 15px 5px;
}

.submit{
	margin: 15px 5px;
}

.reponse{
	margin: 10px 25%;
	padding: 2% 8%;
	border: 2px groove #222;
	border-radius: 10px;
	font-size: 18px;
}

.reponse > :first-child{
	margin: 5px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

.categorie{
	display: block;
	margin-bottom: 6px;
}

.text{
	margin: auto;
	padding: 2% 8%;
	font-size: 18px;
}

#select-age_max{
	padding-top: 5px;
}

a.menu{
	position: relative;
	left: 5%;
	top: 10px;
	font-size: 24px;
}